@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
:root {
    --main-background-color: #f7f8f3;
    --main-button-background-color: #231b14;
    --hover-background-color: #18A0FB;
}

body {
    background-color: var(--main-background-color);
    font-family: 'Cinzel', 'Muli', sans-serif;
    margin: 0 auto;
    max-width: 1400px;
    min-width: 350px;
}

/* Section of Header */
.nav-link {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-link:hover {
    color: var(--hover-background-color);
}

.navbar-toggler {
    margin-right: 2rem;
}

.nav-icons {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* Section of Carousel */
.carousel-caption {
    text-align: left;
}

.carousel-caption h2 {
    display: block;   
    text-align: center;
    font-size: 6rem;
    margin: 4rem;
}

.carousel-caption h4 {
    margin: 0 0 1rem 0;
}

@media(max-width: 990px) {
    .carousel-caption h2 {
        display: block;
        font-size: 3rem;
        margin: 2.5rem;
    }
    .carousel-caption h4 {
        margin: 0 0 0.5rem 0;
    }
    .carousel-caption .myBtn {
        font-size: 1rem;
        padding : 0.5rem 2rem;
    }
}

@media(max-width: 600px) {
    .carousel-caption h2 {
        display: none;
    }
    .carousel-caption h4 {
        margin: 0 0 0.5rem 0;
    }
    .myBtn {
        font-size: 1rem;
        padding : 0.2rem 1.5rem;
    }
}

.myBtn-carousel-arrow {
    color: #000;
    font-size: 3rem;
}

/* for consistency in carousel indicators */
.myBtn-carousel-nav:hover {
    background-color: var(--hover-background-color)!important;
}

.myBtn-carousel-arrow:hover {
    color: var(--hover-background-color);
}


/* Section of Cards */
.card-body .myBtn-line {
    margin-bottom: 0.6rem;
}

@media(max-width: 600px) {
    .card-body .myBtn-line {
        margin-bottom: 0.4rem;
        font-size: 1rem;
    }
}

/* Section of Video */
video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 4px 8px 20px rgb(0 0 0 / 40%);
}

/* Section of Email Subscription */
.section-margin-top {
    margin-top: 2rem;
}

.section-email-background {
    width: 100%;
    height: 200px;
    padding: 2rem 1rem;
}

.email-form-container {
    width: 100%;    
}

.email-input {
    margin: 0 1rem;
    width: 60%;
    max-width: 400px;
    font-family: 'Muli', sans-serif;
}

/* Footer */
#footer {
    background-color: var(--main-button-background-color);
    color: #fff;
    padding: 2rem 1rem 3rem 1rem;
}

.footer-container {
    background-repeat: no-repeat;
    background-position: center;
}

.footer-link {
    color: #fff;
    font-size: 1rem;
}

.footer-link:hover {
    color: var(--hover-background-color);
}

.div-footer .icon-button{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
}
