@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Rubik+Moonrocks&display=swap');

:root {
    --main-background-color: #1b151c;
    --hover-background-color: #18A0FB;
}

body {
    background-color: var(--main-background-color);
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1450px;
    overflow: hidden;
    overflow-y: scroll;
}

#header-img {
    height: 200px;
    width:fit-content;
}

#video {
    width: 100%;
}

.carousel-indicators button {
    border-radius: 50%;
    /* width: 15px ; 
    height: 15px ; */
    width: 15px !important; 
    height: 15px !important;
    margin-right: 1rem !important;
}

.video-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar-item {
    color : #fff;
}

.nav-link.active {
    color: var(--hover-background-color) !important;
}

.menubar-item:active,
.menubar-item:hover {
    color: var(--hover-background-color);
}

.menu-item {
    margin: 0 1rem;
}

@media (min-width: 996px) {
    .menu-item {
        margin: 0 2rem;
    }
}

.hidden {
    display: none;
}

.div-rounded {
    border-radius: 0.3rem;
    border: 0.3rem solid rgb(233, 232, 232);
}

.img-carousel {
    width: 100%;
    height: 100%;
}

.card-img-product {
    
    
}

.div-detail {
    width: 100%;
    height: 300px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail1 {
    background: rgb(38,29,45);
    background: linear-gradient(90deg, rgba(38,29,45,1) 12%, rgba(166,52,52,1) 63%, rgba(110,75,27,1) 100%);
}

.card-text-container {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 90%;
    height: 90%;
    text-align: center;
    
}

.card-text-container p {
    color: #fff;
    padding: 1rem 1rem;
}

.detail2 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,85,108,1) 45%, rgba(38,75,83,1) 100%);
}



/****/
figure {
    border: 3px solid #c8c8c8;
    border-radius: 8px;
    overflow: hidden;
}

*, :after, :before {
    box-sizing: border-box;
}

.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed, .fluid-width-video-wrapper video {
    position: relative;
    top: 1rem;
    left: 1rem;
    width: 100%;
    height: 100% !important;
}

.div-footer {
    color: #fff;
}